
html {
  height: 100%;
  width:100%;
}

body {
	padding: 0;
	margin: 0;
  height: 100%;
  width:100%;
  overflow: hidden
}

.game {
	width:100%;
	height:65%;
  background: url('../img/Background-extend.jpg') no-repeat center 80%;
  background-size: cover;
  padding:0;
  margin:0;
}

#app {
  background-color: black;
  height:36%;
  margin-top: -5px;
}



.outline {
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.35), 4px 4px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(135deg, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:80px;
  width:80px;
}

.inner {
  background:rgba(242,246,248,1);
  height:60px;
  width:60px;
  position:absolute;
  margin-left:10px;
  margin-top:10px;
}

.glass {
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.35);
  background: radial-gradient(ellipse at center, rgba(242,243,244,0.23) 0%,rgba(134,201,245,0.23) 47%,rgba(127,198,245,0.23) 50%,rgba(12,153,247,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bf2f3f4', endColorstr='#cc0c99f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:60px;
  width:60px;
  position:absolute;
  margin-left:10px;
  margin-top:10px;
}



