/*FOR TESTING WIREFRAMES*/
/*div {
  border: 1px solid red;
}*/

html {
  height: 100%;
  width:100%;
}

body {
	padding: 0;
	margin: 0;
  height: 100%;
  width:100%;
  overflow: hidden
}

.game {
	width:100%;
	height:65%;
  background: url('../img/Background-extend.jpg') no-repeat center 80%;
  background-size: cover;
  padding:0;
  margin:0;
}

#app {
  background-color: black;
  height:36%;
  margin-top: -5px;
}

.app {
  padding-top: 5px;
}

.info {
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  text-align: center;
}

.info span {
  padding: 0px 5px;
}

.infoContainer {
  position: relative;
}

.container {
  width: 30%;
  height: 200px;
  margin: 0;
  display: inline-block;
  float: left;
  color: white;
  overflow: hidden;
}

.btnContainer {
  width:100%;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;

  /*hide scrollbars*/
  padding-right: 20px;
  margin-right: 20px;
}

.mainInfo {
  width:40%;
  height: 200px;
  margin: 10px 0px 0px;
  display: inline-block;
  float: left;
  color: white;
  text-align: center;
}

.btnName {
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  padding: 0px 2px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  box-shadow: 1px 1px black;
  background-color:gray;
}

.btnPrice {
  font-size: 12px;
  position: absolute;
  top: 43px;
  left: 1px;
  z-index: 5;
  padding: 0px 2px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  box-shadow: 1px 1px black;
  background-color:gray;
}

.outline {
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.35), 4px 4px 5px 0px rgba(0,0,0,0.75);
  background: linear-gradient(135deg, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;
}

.outline img {
  z-index: 6;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.inner {
  background: rgba(242,246,248,1);
  height: 40px;
  width: 40px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 2;
}

.glass {
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.35);
  background: radial-gradient(ellipse at center, rgba(242,243,244,0.23) 0%,rgba(134,201,245,0.23) 47%,rgba(127,198,245,0.23) 50%,rgba(12,153,247,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bf2f3f4', endColorstr='#cc0c99f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height:40px;
  width:40px;
  position:absolute;
  margin-left:10px;
  margin-top:10px;
  z-index: 3;
}

.monster {
  margin: 2px;
  display: inline-block;
}

.button {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0em 5px 5px hsla(190,100%,71%,1),
                 0 0em 5px 5px hsla(190,100%,71%,.2),
                inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    text-shadow: 0 0em 5px 5px hsla(190,100%,71%,.2);
    color: #6de6ff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Play';
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5em 1em;
    padding: 1em 1.5em 1.25em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    transition:.15s;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.button:hover {
    outline: none;
}
.button:hover,
.button:focus {
    box-shadow: inset 0 0em 5px 5px hsla(190,100%,71%,1),
                inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                /*inset 0 0 0 3em hsla(0,0%,100%,.2),*/
                0 .25em .25em hsla(0,0%,0%,.1);
}
.button:active {
    box-shadow: inset 0 0em 15px 10px hsla(190,100%,71%,1),
                 0 0em 15px 10px hsla(190,100%,71%,.5),
                inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
    background-color: #6de6ff;
    color:#397c89;
}


/* Large */

.large {
    font-size: 1.5em;
}

.round {
    border-radius:50%;
}

.red {
    background-color: #121e21; /* Set the button color here */
    color: #6de6ff; /* Remove this for a dark background */
}